$base-color: rgb(241, 222, 212);
$left-space: 15%;
$right-space: 15%;
$border-color: rgb(71, 71, 71);

.App {
  text-align: center;
  background-color: $base-color;
  font-family: monospace;
  color: rgb(71, 71, 71);
  .navBar {
    background-color: $base-color;
  }
  body {
    background-color: $base-color;
    margin: 0;
    width: 100vh;
    width: 100%;
    height: 100vh;
    height: 100%; 
  }
  .sectionBorder {
    padding: 20px;
    border: 2px solid $border-color;
    border-radius: 25px ;
  }
}
// body {
//   background-color: $base-color;
//   margin: 0;
//   width: 100vh;
//   width: 100%;
//   height: 100vh;
//   height: 100%; 
// }
.container {
  max-width: '100%'  //This will make container to take screen width
}
.themeImg {
  width: 60%;
}
.AppDark {
  text-align: center;
  background-color: $border-color;
  font-family: monospace;
  color: $base-color;
  body {
    background-color: $border-color;
    margin: 0;
    width: 100vh;
    width: 100%;
    height: 100vh;
    height: 100%; 
  }
  .sectionBorder {
    padding: 20px;
    border: 2px solid $base-color;
    border-radius: 25px ;
  }
  .btn-outline-secondary {
    color: $base-color;
    border-color: $base-color;
  }
  .btn-outline-secondary:hover {
    color: $border-color;
    background-color: $base-color;
  }
  .navbar {
    background-color: $border-color;
  }
  .navbar-light .navbar-nav .nav-link {
    color: $base-color; 
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }
  .navbar-light .navbar-toggler {
    border-color: $base-color;
    color: $base-color;
    // background-color: $base-color;
  }
}

.section {
  padding-bottom: 20px;
}
.endOfSite{
  padding-bottom: 50px;
}
.imgHover {
  &:hover{
    filter: opacity(70%);
  }
}
// .sectionBorder {
//   padding: 20px;
//   border: 2px solid $border-color;
//   border-radius: 25px ;
// }

.Socials {
  .introTextSpacer {
    padding-top: 180px;
  }
  .socialSpacer {
    padding-top: 10px;
  }
  .socialButton {
    padding: 6px 20px;
  }
}

.img-container {
  position: relative;
}

.img-container:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.rightText {
  text-align: right;
}

.AboutMe {
  text-align: left;
  padding-left: $left-space !important;
  padding-right: $right-space !important;
  .introTextSpacer {
    padding-top: 60px;
  }
  .selfImage {
    width: 230px;
  }
}

.image {
  max-width: 100%;
}

.Experience {
  text-align: left;
  padding-left: $left-space !important;
  padding-right: $right-space !important;
  .introTextSpacer {
    padding-top: 60px;
  }
}

.Projects {
  text-align: left;
  padding-left: $left-space !important;
  padding-right: $right-space !important;
  .introTextSpacer {
    padding-top: 60px;
  }
  .gif {
    width: 300px;
  }
  .projectSpacer {
    margin-bottom: 15px;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  background: #fff0f5;
}

header {
  background: #ffb6c1;
  color: grey;
  padding: 15px 15px 0 15px;
}

header h1 {
  margin: 0;
  display: inline;
}

nav ul {
  margin: 0;
  display: inline;
}

nav ul li {
  background: black;
  color: white;
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
}

nav ul li a {
  color: white;
} */

/* .row:after {
  clear: both;
}

.col {
  float: left;
  border-radius: 5px;
  margin: 1%;
  width: 31%;
} */
/* 
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
} */
