$base-color: rgb(241, 222, 212);
$left-space: 10%;
$right-space: 10%;
$border-color: rgb(71, 71, 71);

.App {
  text-align: center;
  background-color: $base-color;
  font-family: monospace;
  color: rgb(71, 71, 71);
  button, a {
    cursor: url(images/select-gray.png), auto !important;
  }
  cursor: url(images/gray-cursor.png), auto;
  .navBar {
    background-color: $base-color;
  }
  body {
    background-color: $base-color;
    margin: 0;
    width: 100vh;
    width: 100%;
    height: 100vh;
    height: 100%; 
  }
  .sectionBorder {
    padding: 20px;
    border: 2px solid $border-color;
    border-radius: 25px ;
  }
}
// body {
//   background-color: $base-color;
//   margin: 0;
//   width: 100vh;
//   width: 100%;
//   height: 100vh;
//   height: 100%; 
// }
.container {
  max-width: '100%'  //This will make container to take screen width
}
.themeImg {
  width: 60%;
}
.AppDark {
  text-align: center;
  background-color: $border-color;
  font-family: monospace;
  color: $base-color;
  button, a {
    cursor: url(images/select-cursor.png), auto !important;
  }
  cursor: url(images/pink-cursor.png), auto;
  body {
    background-color: $border-color;
    margin: 0;
    width: 100vh;
    width: 100%;
    height: 100vh;
    height: 100%; 
  }
  .sectionBorder {
    padding: 20px;
    border: 2px solid $base-color;
    border-radius: 25px ;
  }
  .btn-outline-secondary {
    color: $base-color;
    border-color: $base-color;
  }
  .btn-outline-secondary:hover {
    color: $border-color;
    background-color: $base-color;
  }
  .navbar {
    background-color: $border-color;
  }
  .navbar-light .navbar-nav .nav-link {
    color: $base-color; 
  }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
  }
  .navbar-light .navbar-toggler {
    border-color: $base-color;
    color: $base-color;
  }
}



.section {
  padding-bottom: 20px;
}
.endOfSite{
  padding-bottom: 50px;
}
.imgHover {
  &:hover{
    filter: opacity(70%);
  }
}
// .sectionBorder {
//   padding: 20px;
//   border: 2px solid $border-color;
//   border-radius: 25px ;
// }

.Socials {
  .introTextSpacer {
    padding-top: 180px;
  }
  .socialSpacer {
    padding-top: 10px;
  }
  .socialButton {
    padding: 6px 20px;
  }
}

.img-container {
  position: relative;
}

.img-container:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.rightText {
  text-align: right;
}

.AboutMe {
  text-align: left;
  padding-left: $left-space !important;
  padding-right: $right-space !important;
  .introTextSpacer {
    padding-top: 60px;
  }
  .selfImage {
    width: 180px;
    border-radius: 20px;
  }
}

.image {
  max-width: 100%;
}

.Experience {
  text-align: left;
  padding-left: $left-space !important;
  padding-right: $right-space !important;
  .introTextSpacer {
    padding-top: 60px;
  }
}

.Projects {
  text-align: left;
  padding-left: $left-space !important;
  padding-right: $right-space !important;
  .introTextSpacer {
    padding-top: 60px;
  }
  .gif {
    width: 300px;
  }
  .projectSpacer {
    margin-bottom: 15px;
  }
}
